NEXT_PUBLIC_SITE_URL=https://tudominio.com
NEXT_PUBLIC_WHATSAPP_LINK=https://wa.me/56XXXXXXXXX?text=Hola%20vengo%20de%20la%20landing
EMAIL_PROVIDER=brevo            # opciones: brevo | mailerlite | none
BREVO_API_KEY=replace_me
BREVO_LIST_ID=123
MAILERLITE_API_KEY=replace_me
MAILERLITE_GROUP_ID=123456789
GA_MEASUREMENT_ID=G-XXXXXXX      # opcional
META_PIXEL_ID=1234567890         # opcional

